/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <500>;
    flavor = "balanced";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
     &none               &kp Q       &kp W       &kp E             &kp R      &kp T      &kp Y        &kp U       &kp I       &kp O                &kp P    &mo 4
&kp ESCAPE  &mt LEFT_CONTROL A  &mt LALT S  &mt LCMD D  &mt LEFT_SHIFT F      &kp G      &kp H  &mt RSHFT J  &mt RCMD K  &mt RALT L  &mt RCTRL SEMICOLON  &kp SQT
     &none               &kp Z       &kp X       &kp C             &kp V      &kp B      &kp N        &kp M   &kp COMMA     &kp DOT             &kp FSLH    &none
                                                 &mo 3        &lt 1 BSPC  &kp SPACE    &kp RET    &lt 1 TAB       &mo 2
            >;

            label = "Main";
        };

        Num {
            bindings = <
&kp TILDE            &kp EXCL        &kp AT_SIGN           &kp HASH           &kp DOLLAR   &kp PERCENT    &kp CARET            &kp AMPS          &kp ASTRK           &kp LPAR                    &kp RPAR  &kp UNDERSCORE
&kp GRAVE  &mt LCTRL NUMBER_1  &mt LALT NUMBER_2  &mt LCMD NUMBER_3  &mt LSHIFT NUMBER_4  &kp NUMBER_5       &kp N6  &mt RSHFT NUMBER_7  &mt RCMD NUMBER_8  &mt RALT NUMBER_9  &mt RIGHT_CONTROL NUMBER_0       &kp MINUS
    &none               &none              &none              &none                &none         &none        &none               &none              &none              &none                       &none           &none
                                                              &none                &none         &none        &none               &none              &none
            >;

            label = "Num";
        };

        Symbol {
            bindings = <
&none   &kp PLUS  &kp MINUS  &kp LBRC  &kp RBRC   &kp BSLH    &none      &none     &none     &none      &none  &none
&none  &kp EQUAL  &kp ASTRK  &kp LPAR  &kp RPAR  &kp GRAVE    &none  &kp RSHFT  &kp RGUI  &kp RALT  &kp RCTRL  &none
&none     &kp LT     &kp GT  &kp LBKT  &kp RBKT  &kp TILDE    &none      &none     &none     &none      &none  &none
                                &none     &none      &none    &none      &none     &none
            >;

            label = "Sym";
        };

        Movement {
            bindings = <
&none      &none     &none     &none      &none  &none    &kp C_AC_COPY      &none      &none      &none  &kp C_AC_PASTE  &none
&none  &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &none         &kp LEFT   &kp DOWN     &kp UP  &kp RIGHT           &none  &none
&none      &none     &none     &none      &none  &none         &kp HOME  &kp PG_DN  &kp PG_UP    &kp END           &none  &none
                               &none      &none  &none            &none      &none      &none
            >;
        };

        FN {
            bindings = <
&none  &kp F1  &kp F2      &kp F3      &kp F4  &kp F5        &kp F6       &kp F7  &kp F8  &kp F9  &kp F10  &none
&none   &none   &none  &bt BT_PRV  &bt BT_NXT   &none         &none        &none   &none   &none    &none  &none
&none   &none   &none       &none       &none   &none    &bt BT_CLR  &bootloader   &none   &none    &none  &none
                            &none       &none   &none         &none        &none   &none
            >;
        };
    };
};
